/*#region || Variables, reset and general rules  */

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Vollkorn&family=Work+Sans&display=swap");

:root {
    --font-display: "Playfair Display", serif;
    --font-serif: "Vollkorn", serif;
    --font-sans: "Work Sans", sans-serif;
    --color-accent: #7030ff;
    --color-secondary: #d6c3ff;
    --color-favorite: #ff2e54;
    --color-background: #f6f0f8;
    --color-disabled: #d0ccd8;
    --color-text: #101010;
    --shadow-glow: 0 0 0.5rem 0.25rem;
    --shadow-text: 1px 1px 3px #101010;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-text);
    font-family: var(--font-sans);
    transition: all ease-in-out 250ms;
}

a {
    text-decoration: none;
}

main {
    margin: 0 5rem 1rem 5rem;
}

.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
    user-select: none;
}

html {
    /* color-scheme: light dark; */
    background-color: var(--color-background);
    scroll-behavior: smooth;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

h1 {
    font-family: var(--font-display);
}

input,
select,
button {
    border: none;
    background: none;
    outline: none;
}

button {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    transition: none;
}

select {
    cursor: pointer;
}

/*#endregion  */

/*#region || Header */

.header-top {
    background-color: var(--color-background);
    position: sticky;
    top: 0;
    z-index: 99;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    border-bottom: 1px solid;
}
/* Logo and title */

.header-title {
    width: 14rem;
}

.header-title span {
    color: var(--color-accent);
    font-variation-settings: "FILL" 1;
}

/* Search box */

.container-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid;
    height: 2.5rem;
    width: 28rem;
    border-radius: 2rem;
    padding: 0 1.5rem;
}

.container-search:focus-within {
    box-shadow: var(--shadow-glow) var(--color-accent);
}

#search-input {
    font-size: 1.125rem;
    flex-grow: 1;
}

#search-select {
    width: 5rem;
    font-size: 1.125rem;
}

#search-button {
    margin-left: 2rem;
}

#search-button:hover {
    text-shadow: 0 0 0.5rem var(--color-accent), 0 0 1rem var(--color-accent),
        0 0 1.5rem var(--color-accent);
}

#search-button:disabled,
#search-input:disabled,
#search-select:disabled {
    opacity: 0.3;
    cursor: default;
}

#search-button:disabled:hover {
    text-shadow: none;
}

.container-search.disabled {
    border: none;
    background-color: var(--color-disabled);
    cursor: default;
}

/* Favorites link and Theme selector */

.container-favorite-theme {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 14rem;
}

.link-favorites {
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0 2rem;
}

.button-round {
    border: 1px solid var(--color-text);
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
}

.button-round:hover span {
    text-shadow: 0 0 0.5rem var(--color-accent), 0 0 1rem var(--color-accent),
        0 0 1.5rem var(--color-accent);
}

/*#endregion  */

/*#region || Status and sorting row */

.container-status-sort {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2.5rem 0 4rem 0;
    font-size: 1.2rem;
}

.container-status {
    display: flex;
    align-items: center;
}

.status-message {
    margin-right: 1rem;
}

.container-sort {
    visibility: hidden;
    display: flex;
    align-items: center;
    gap: 3rem;
    user-select: none;
}

#sort-select {
    font-size: 1.2rem;
}

.container-checkbox {
    display: flex;
    align-items: center;
    user-select: none;
}

#highlight-checkbox {
    cursor: pointer;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid var(--color-text);
}

#highlight-label {
    cursor: pointer;
    margin-left: 0.5rem;
}

#highlight-checkbox:checked {
    background-color: var(--color-accent);
}

#highlight-checkbox:disabled {
    cursor: default;
}

.container-checkbox.disabled {
    opacity: 0.3;
    cursor: default;
}
.container-checkbox.disabled #highlight-label {
    cursor: default;
}

/*#endregion  */

/* #region || Loading placeholders and animations */
.spinner {
    display: none;
    border: 2px solid var(--color-accent);
    border-top: 2px solid transparent;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.loader {
    display: none;
    width: 100%;
    height: 90vh;
    border-radius: 1em;
    background-image: linear-gradient(
        90deg,
        transparent,
        var(--color-accent),
        transparent
    );
    background-size: 200%;
    animation: loading 5s linear infinite;
}

@keyframes loading {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 200% 0;
    }
}

/*#endregion  */

/*#region || Artworks results */

.container-artworks {
    columns: 4 20rem;
    column-gap: 1rem;
    overflow: auto;
}

.container-artworks.sorting {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    grid-gap: 2rem;
}

.artwork {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    overflow: hidden;
    background-color: var(--color-background);
}

.container-artworks.sorting .artwork {
    border: 1px solid var(--color-text);
    margin-bottom: 0;
    border-radius: 1rem;
}

.image {
    cursor: zoom-in;
    display: block;
    width: 100%;
    scale: 1.1;
}

.container-artworks.sorting .image {
    outline: 1px solid var(--color-text);
    height: 20rem;
    object-fit: cover;
    object-position: top;
    border-radius: 1rem 1rem 0 0;
}

.artwork-overlay {
    cursor: zoom-in;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    opacity: 0;
    border-top: 1px solid var(--color-text);
}

.container-artworks.sorting .artwork-overlay {
    position: relative;
    opacity: 1;
    flex-grow: 10;
    width: auto;
    height: auto;
    background-color: var(--color-background);
}

.artwork-overlay:hover {
    opacity: 1;
}

.artwork-overlay p {
    color: #f0f0f0;
    font-family: var(--font-serif);
    font-size: 1.2rem;
    text-shadow: var(--shadow-text);
}

.container-artworks.sorting .artwork-overlay p {
    color: var(--color-text);
    text-shadow: none;
}

.favorite-button {
    visibility: hidden;
    z-index: 1;
    position: absolute;
    right: 1.5rem;
    bottom: 2.25rem;
}

.container-artworks.sorting .favorite-button {
    visibility: visible;
}

.artwork:hover .favorite-button {
    visibility: visible;
}

.favorite-button:hover span {
    text-shadow: 0 0 0.5rem var(--color-favorite),
        0 0 1rem var(--color-favorite), 0 0 1.5rem var(--color-favorite);
}

.favorite-button span {
    font-variation-settings: "FILL" 1;
    font-size: 1.75rem;
    color: #f0f0f0;
    -webkit-text-stroke: 1.5px #101010;
}

.favorite-button span.favorite-clicked {
    visibility: visible;
    color: var(--color-favorite);
}

.title {
    font-style: italic;
}

.container-artworks.sorting .title {
    font-weight: bold;
    margin-bottom: 2rem;
}

.image-footer {
    max-width: 75%;
}

.image-footer .date {
    font-family: var(--font-sans);
    font-size: 1rem;
    margin-top: 0.5rem;
}

/*#endregion  */

/*#region || Footer */
footer {
    text-align: center;
    font-family: var(--font-serif);
    font-size: small;
    padding: 2rem;
    margin-top: 4rem;
}

footer span {
    font-family: var(--font-serif);
    font-size: 1rem;
}

footer a {
    color: var(--color-accent);
    font-family: var(--font-serif);
}

/*#endregion */

/*#region || Back to top*/
.back-to-top {
    display: none;
    position: fixed;
    bottom: 2.75rem;
    left: calc(100% - 15rem);
    place-self: end;
    z-index: 2;
    background-color: var(--color-background);
}
/*#endregion*/

/*#region || Detail View */

.container-back {
    margin: 2.5rem 0 4rem 0;
}

#button-back {
    width: auto;
    gap: 1rem;
    font-size: 1.2rem;
    font-family: var(--font-sans);
}

.container-detail {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 2rem;
}

.detail-image {
    height: 65vh;
    width: 100%;
    object-fit: scale-down;
}

.image-link {
    cursor: zoom-in;
}

.detail-info {
    height: 65vh;
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.detail-info h2 {
    font-family: var(--font-serif);
    text-align: center;
    margin-bottom: 2rem;
}

.detail-property dt {
    font-weight: bold;
    align-items: end;
}

.detail-property dd {
    text-align: end;
}

.detail-property {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--color-text);
}

/*#endregion  */

/*#region || Landing Page */

.container-landing {
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
    display: grid;
    place-items: center;
    gap: 2rem;
    padding-bottom: 2rem;
}
.container-landing h1 {
    height: 10%;
    letter-spacing: 0.3rem;
    user-select: none;
    color: #f0f0f0;
    font-size: calc(2.5rem + 2vw);
    text-shadow: var(--shadow-text);
    text-align: center;
}

.container-landing h1 span {
    font-variation-settings: "FILL" 1;
    font-size: 3rem;
    color: #f0f0f0;
}

.container-landing p {
    text-align: center;
    max-width: 50%;
    color: #f0f0f0;
    font-size: 1.5rem;
    text-shadow: var(--shadow-text);
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
    background: var(--color-background) center center / cover no-repeat;
    filter: brightness(0.5);
}

.container-search.landing-search {
    background-color: var(--color-background);
    height: 3rem;
    width: 50vw;
    min-width: 20rem;
    box-shadow: 1px 1px 3px #101010;
}

@media (max-width: 768px) {
    .container-search.landing-search button {
        display: none;
    }
}

/*#endregion */

/*#region || Utility classes */

.display-flex {
    display: flex;
}

.display-none {
    display: none;
}

.visibility-visible {
    visibility: visible;
}

.visibility-hidden {
    visibility: hidden;
}
/*#endregion  */
