/* || Variables, reset and general rules  */

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Vollkorn&family=Work+Sans&display=swap");

:root {
    --font-display: "Playfair Display", serif;
    --font-serif: "Vollkorn", serif;
    --font-sans: "Work Sans", sans-serif;
    --color-accent: #7030ff;
    --color-favorite: #ff2e54;
    --color-background: #f0f0f0;
    --color-secondary: #d0ccd8;
    --color-text: #101010;
    --shadow-glow: 0 0 0.5rem 0.25rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-text);
    font-family: var(--font-sans);
    transition: all ease-in-out 250ms;
}

a {
    text-decoration: none;
}

main {
    margin: 2rem 3rem;
}

.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
    user-select: none;
}

html {
    /* color-scheme: light dark; */
    background-color: var(--color-background);
}

h1 {
    font-family: var(--font-display);
}

input,
select,
button {
    border: none;
    background: none;
}

button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    transition: none;
}

/* || Header */

.header-top {
    background-color: var(--color-background);
    position: sticky;
    top: 0;
    z-index: 1;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    border-bottom: 1px solid;
}

/* Logo and title */

.header-title {
    width: 12rem;
}

.header-title span {
    color: var(--color-accent);
    font-variation-settings: "FILL" 1;
}

/* Search box */

.container-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid;
    height: 2.5rem;
    width: 32rem;
    border-radius: 2rem;
    padding: 0 1.5rem;
}

.container-search:focus-within {
    box-shadow: var(--shadow-glow) var(--color-accent);
}

#search-input {
    font-size: 1.125rem;
    flex-grow: 1;
}

#search-input:focus {
    outline: none;
}

#search-button {
    width: 2rem;
    height: 2rem;
}

#search-button:hover {
    text-shadow: 0 0 0.5rem var(--color-accent), 0 0 1rem var(--color-accent),
        0 0 1.5rem var(--color-accent);
}

#search-button:disabled,
#search-input:disabled {
    opacity: 0.3;
    cursor: default;
}

#search-button:disabled:hover {
    background-color: transparent;
}

.container-search.disabled {
    border: none;
    background-color: var(--color-secondary);
    cursor: default;
}

/* Favorites link and Theme selector */

.container-favorite-theme {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 12rem;
}

.link-favorites {
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0 2rem;
}

/* || Status and filters Row */

.container-status-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-status {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.status-message {
    font-size: 1.2rem;
    margin-right: 1rem;
}

/* || Loading placeholders and animations */
.spinner {
    display: none;
    border: 2px solid var(--color-accent);
    border-top: 2px solid transparent;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.loader {
    display: none;
    width: 100%;
    height: 90vh;
    border-radius: 1em;
    background-image: linear-gradient(
        90deg,
        transparent,
        var(--color-accent),
        transparent
    );
    background-size: 200%;
    animation: loading 5s linear infinite;
}

@keyframes loading {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 200% 0;
    }
}

/* || Artworks results */

.container-artworks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.artwork {
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-frame {
    position: relative;
}

.image-frame:hover .favorite-button {
    visibility: visible;
}
.image {
    height: 20rem;
}

.favorite-button {
    visibility: hidden;
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    width: 2rem;
    height: 2rem;
}

.favorite-button:hover span {
    text-shadow: 0 0 0.5rem var(--color-favorite),
        0 0 1rem var(--color-favorite), 0 0 1.5rem var(--color-favorite);
}

.favorite-button span {
    font-variation-settings: "FILL" 1;
    font-size: 1.75rem;
    color: #fff;
    -webkit-text-stroke: 1.5px #000;
}

.favorite-button span.favorite-clicked {
    visibility: visible;
    color: var(--color-favorite);
}

.information {
    margin-top: 2rem;
    height: 7.5rem;
    width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-family: var(--font-serif);
}

.title {
    font-style: italic;
    font-size: 1.2em;
}

.artist {
    font-weight: bold;
}

.date {
    font-family: var(--font-sans);
}

/* || Detail View */

.container-back {
    margin: 2rem 0;
}

#button-back {
    gap: 1rem;
    font-size: 1.2rem;
    font-family: var(--font-sans);
}

.container-detail {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 2rem;
}

.detail-picture {
    height: 75vh;
    width: 100%;
    object-fit: scale-down;
}

.artwork-detail a {
    cursor: zoom-in;
}

.detail-info h2 {
    font-family: var(--font-serif);
    text-align: center;
}

/* || Utility classes */

.display-flex {
    display: flex;
}

.visibility-visible {
    visibility: visible;
}
